// Fonts

// Utils
@import "./utils/reset";
@import "./utils/sizes";
@import "./utils/mixins";
@import "./utils/_settings";
// Layouts
@import './layouts/header';
@import './layouts/footer';

// Components
@import './component/verticalProgress';
// Pages
@import "./pages/home";
@import "./pages/admin";
@import "./pages/profile";
@import "./pages/register.scss";
@import "./pages/login.scss";


html,
body {
  font-family: "Poppins";
  color: #2e2e2e;
  overflow: auto;

  button{
    font-family: "Poppins";
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  input{
    -webkit-appearance: none;
  }
}

